%h3.title Settings

%aside.menu
  %p.menu-label Account
  %ul.menu-list
    %li= link_to "Login Details", edit_user_registration_path
  
  -if stripe_enabled?
    %p.menu-label Billing
    %ul.menu-list
      %li= link_to "Plans", settings_me_plans_path
      %li= link_to "Invoices", '#'

